.message {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    
}

.message.own {
    align-self: flex-end;
}

.message.other {
    align-self: flex-start;
    /* Not quite sure here: */
    margin-top: 0.5rem;
}

.messageLabel {
    text-align: left;
    font-size: 0.8rem;
    color: grey;
}

.messageText {
    background: white;
    border-radius: 0.7rem;
    padding: 0.5rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.10), 
              0 4px 4px rgba(0,0,0,0.05),
              0 8px 8px rgba(0,0,0,0.02);
}

.message.own > .messageText {
    background: #6BBAA7
}


.notice {
    align-self: center;
    text-align: center;
    color: gray;
    font-size: 1rem;
}